<div class="container">
    <footer class="footer">
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div class="footer__elements" fxflex="50" fxLayoutAlign.lt-sm="space-around center" fxLayoutGap="10px">
                <a class="footer__link">About</a>
                <a class="footer__link">Help</a>
                <a class="footer__link">API</a>
                <a class="footer__link">Jobs</a>
                <a class="footer__link">Privacy</a>
                <a class="footer__link">Terms</a>
                <a class="footer__link">Locations</a>
                <a class="footer__link">Top Accounts</a>
                <span class="footer__copy">Instagram by Antonio Becerra</span>
            </div>
        </div>
    </footer>
</div>