<div class="stories" fxFlex="100">
    <div class="stories__wrapper" fXFlex="40" fxLayoutAlign="space-around center">
        <div class="stories__card">
            <img src="assets/img/cover 4.png" alt="Historia" class="stories__icon">
            <p class="icon__username">Antonio</p>
        </div>
        <div class="stories__card">
            <img src="assets/img/cover 5.png" alt="Historia" class="stories__icon">
            <p class="icon__username">Mabe</p>
        </div>
        <div class="stories__card">
            <img src="assets/img/cover 6.png" alt="Historia" class="stories__icon">
            <p class="icon__username">Jose</p>
        </div>
        <div class="stories__card">
            <img src="assets/img/cover 7.png" alt="Historia" class="stories__icon">
            <p class="icon__username">Zeth</p>
        </div>
        <div class="stories__card">
            <img src="assets/img/cover 8.png" alt="Historia" class="stories__icon">
            <p class="icon__username">Fer</p>
        </div>
        <div class="stories__card">
            <img src="assets/img/cover 9.png" alt="Historia" class="stories__icon">
            <p class="icon__username">Misa</p>
        </div>
        <div class="stories__card">
            <img src="assets/img/cover 10.png" alt="Historia" class="stories__icon">
            <p class="icon__username">Roberto</p>
        </div>
        <div class="stories__card">
            <img src="assets/img/cover 11.png" alt="Historia" class="stories__icon">
            <p class="icon__username">America</p>
        </div>
        <div class="stories__card">
            <img src="assets/img/cover 12.png" alt="Historia" class="stories__icon">
            <p class="icon__username">Oscar</p>
        </div>
        <div class="stories__card">
            <img src="assets/img/cover 13.png" alt="Historia" class="stories__icon">
            <p class="icon__username">Eduardo</p>
        </div>


    </div>
</div>