<div class="feed" fxFlex="100" fxLayoutAlign="center center">
    <div fxFlex="60" fxLayoutAlign="center center">
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div fxFlex="60" fxLayout="column" fxLayoutAlign="space-between center">
                <div class="card" *ngFor="let item of base">
                    <img class="card-img-top" src="{{item.img}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">{{item.p}}</p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>