<div class="container" fxFlex="100">
    <nav class="navbar">
        <div class="nav__wrapper" fxFlex="70%" fxLayout="row" fxLayoutAling="center center">
            <img src="assets/img/logo.PNG" class="brand__img" fxLayout="row" fxLayoutAling="center center">
            <input type="text" class="navbar__search" placeholder="search">
            <div class="nav__items" fxLayout="row" fxLayoutAling="space-between center">
                <img src="assets/img/home.PNG" alt="home icon" class="nav__icon">
                <img src="assets/img/messenger.PNG" alt="home icon" class="nav__icon">
                <img src="assets/img/add.PNG" alt="home icon" class="nav__icon">
                <img src="assets/img/explore.PNG" alt="home icon" class="nav__icon">
                <img src="assets/img/like.PNG" alt="home icon" class="nav__icon">
                <div class="nav__userProfile">
                </div>
            </div>
        </div>

    </nav>
</div>