/**Form Container **/

.form__container {
    background: #fff;
    border: 1px solid #dfdfdf;
}

.form__text {
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
}

.button__container {
    padding-top: 30px;
}

.button__icon {
    width: 45px;
}

.user__profile {
    width: 80px;
    border-radius: 50%;
}

.user__name {
    padding-top: 15px;
    font-size: 15px;
}

.user__option {
    font-size: 15px;
    color: rgb(29, 26, 206);
}